.inputTask {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-block: 0.70em;
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 0.50em;
    border-radius: 8px;
}

.inputTask input {
    flex-grow: 1;
    padding: 0.50em;
    border: none;
    border-bottom: 1px solid var(--pink-base);
    background-color: transparent;
    outline: none;
    font-size: 1em;
    color: var(--gray-400);
}

.inputTask div {
    display: flex;
    gap: 0.40em;
}

.XIcon {
    background-color: var(--gray-200);
    padding: 0.20em;
    border-radius: 8px;
    cursor: pointer;
}

.CheckIcon {
    background-color: var(--green-base);
    padding: 0.20em;
    border-radius: 8px;
    cursor: pointer;
}