.form {
    width: 25%;
    background-color: var(--gray-700);
    padding: 1rem;
    border-radius: 8px;
}

input {
    outline: 0;
    padding: 0.50rem;
    width: 90%;
    color: var(--white);
    font-size: 0.90rem;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
}

button {
    color: var(--white);
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--gray-900);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}

button:not(:disabled):hover {
    background-color: var(--gray-800);
    color: var(--gray-100);
}