.container {
    display: flex;
    flex-direction: column;
    gap: 0.60rem;
    background-color: var(--gray-700);
    padding: 1rem;
    border-radius: 8px;
}

.taks {
    font-size: 1.2rem;
    list-style-type: none;
    color: var(--gray-100);
    background-color: var(--gray-500);
    width: 70%;
    padding: 0.50rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.taks:hover {
    background-color: var(--gray-400);
    color: var(--white);
}