.newTask {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.60em;
    border: none;
    outline: none;
    width: 100%;
    padding: 1em;
    margin-block: 0.70em;
    background-color: var(--gray-200);
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s linear;
}

.newTask:hover {
    background-color: var(--pink-light);
}

.newTask p {
    color: var(--gray-400);
    font: var(--body-md-semibold)
}

.inputTask {
    display: flex;
    align-items: center;
    width: 100%;
    margin-block: 0.70em;
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 0.50em;
    border-radius: 8px;
}

.inputTask input {
    flex-grow: 1;
    padding: 0.80em;
    border: none;
    border-bottom: 1px solid var(--pink-base);
    background-color: transparent;
    outline: none;
    font-size: 1em;
    color: var(--gray-400);
}

.inputTask div {
    display: flex;
    gap: 0.40em;
}

.XIcon {
    background-color: var(--gray-200);
    padding: 0.20em;
    border-radius: 8px;
    cursor: pointer;
}

.CheckIcon {
    background-color: var(--green-base);
    padding: 0.20em;
    border-radius: 8px;
    cursor: pointer;
}