.task {
    background-color: var(--gray-800);
    width: 30%;
    padding: 1rem;
}


li {
    list-style-type: none;
    line-height: 1.6;
    background-color: var(--gray-700);
    width: 80%;
    font-size: 2rem;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    padding: 0.50rem;
}

li:hover {
    background-color: var(--gray-500);
}

